@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);



.counter {
  font:12pt Arial;
  display:flex;
  position:relative;
  margin:5em auto;
  width:80px;
  height: 30px;
  flex-direction:row;
  float: right;
  margin-right: 15%;
  box-shadow:
   1px 1px 0 rgb(22, 160, 133),
   2px 2px 0 rgb(22, 160, 133),
   3px 3px 0 rgb(22, 160, 133),
   4px 4px 0 rgb(22, 160, 133),
   5px 5px 0 rgb(22, 160, 133),
   6px 6px 0 rgb(22, 160, 133),
   7px 7px 0 rgb(22, 160, 133)
  ;
  margin-top: -50px;
}

.counter > p[type=text],
.counter>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.counter> p[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
  
}

.counter>button {
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
  cursor: pointer;
}

.counter>button:hover{
 
  background-color:rgb(53, 180, 155);
  color:white;
  border:none;
  transition: 200ms;
}

.counter > p {
  color: grey;
  font-size: 1.2rem;
  width: 400px;
  height: 30px;
  margin: 0px;
  display: grid;
  justify-content: center;
  align-items: center;
}



@media (max-width:623px) {
  .counter > input {
      color: grey;
      font-size: 1.2rem;
      width: 300px;
      float: left;
  }
}

@media (max-width:523px) {
  .counter > input {
      color: grey;
      font-size: 1.2rem;
      width: 200px;
      float: left;
  }
}

@media (max-width:427px) {
  .counter > input {
      color: grey;
      font-size: 1.2rem;
      width: 170px;
      float: left;
  }
}