.snackbar {
  
	position: fixed;
	bottom: 0px;
	right: 40px;
  z-index: 10;
  left: 60px;
  top: 134px;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 35px;
  border-radius: 0px 6px 0px 6px;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  text-align: center;
}


.snackbar .message {
  flex: 80%;
  text-align: start;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  color: #FFF;
}

#show {
  visibility: visible;
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}
#hide {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}